<div>
    <h2>
        Product List
    </h2>
    <select class="form-control" ng-model="vm.categoryId" ng-change="vm.changeCategory()" ng-options="option.Id as option.CategoryName for option in vm.categories">
        <option value="">Product Category...</option>
    </select>
</div>
<div>
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Category</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="x in vm.products">
                <td>{{x.Id}}</td>
                <td>{{x.ProductName}}</td>
                <td>{{x.CategoryId}}</td>
            </tr>
        </tbody>
    </table>
</div>